body {
    margin-bottom : 60px;
}

.pages {
    margin-bottom : 14px;
    margin-top : 14px;
    color: #f00;
}

.center {
    text-align : center;
}

.dob_dod {
    margin-top: 10px;
}

.dob_dod p {
    line-height: 10px;
}


.matches {
    padding: 16px 0;
}

.main_quote {
    margin-top: 20px;
    margin-bottom: 40px;
}

.main_search {
    margin-bottom: 20px;
    margin-top: 20px;
}

blockquote {
    font-family: georgia, serif, arial, helvetica, verdana;
}

blockquote small {
    font-size: 80%;
}

.main_quote blockquote  {
    padding: 40px 0px 25px 0px;
    font: bold 180%;
    border: none;
    color: #888;
}

.main_quote small {
    padding-top: 20px;
    font-size: 70%;
    text-align: right;
}

.small_quote {
    padding-top: 40px;
}

.small_quote blockquote  {
    font: 100% georgia, serif;
    border: none;
    color: #999

}

.small_quote small {
    font-size: 96%;
    text-align: right;
}

table {
    border-collapse: collapse;
    text-align: left;
}

th {
    padding-bottom: 8px;
}

h1 {
    font-family: georgia;
}

h1.title {
    text-align: center;
    padding-bottom: 20px;
}

.natcat {
    color: #008000;
}

.main_search {
    padding-bottom: 30px;
}

.word {
    color: #990000;
}

h2.adv {
    color: #DD4B39;
    margin-bottom: 30px;
    margin-top: 20px;
}

a.adv {
    font-size: 84%;
}

.nav_adv {
    font-size: 80%;
    line-height: 10px;
}

label {
    padding-top: 6px;
    float: left;
    width: 180px;
}

.about {
    margin-top: 50px;
}

.copy {
    margin-top: 20px;
}
.dob a {
    color: #666699;
}
.dod a {
    color: #666666;
}
.nat a, .cat a {
    color: #008000;
}

.about table {
    width: 175px;
}

.active {
    background-color: #ddd;
}
